  <h2>Update Password</h2>
  <%= form_tag '/profile/password_update', method: :patch do %>
    <p><%= label_tag :password %></p>
    <p><%= password_field_tag :password %></p>
    <p><%= label_tag :password_confirmation, "Confirm Password" %></p>
    <p><%= password_field_tag :password_confirmation %></p>
    <p><%= submit_tag "Update Password" %></p>
  <% end %>
